header {
    text-align: center;
    background-color: #6b6b6b;
    color:white;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom:.05px solid #000000;

}
body {
    /* background-color: blue; */
    font-family: Arial, Helvetica, sans-serif;
}
#allContainer {
    border: #000000;
    border-width: .05em;
    border-style: solid;
    margin: 4px;
}
#subHeader{
    margin-bottom: .5em;
    padding-left: 10px;
    font-size: 20px;
}
#formContainer {
    margin-bottom: 20px;
    padding: 10px;
}
input {
    margin: 4px;
    margin-left: 0px;
    border-radius: 0px;
    border-style: solid ;
    border-color: black;
    border-width: .11em;
    padding: 3px;
}
button {
    padding: 3px 20px;
    margin: 5px;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
}
#fakeButton{
    color: #d2d2d2;
    background-color: #d2d2d2;
    border: #d2d2d2;
}
#tableContainer {
    margin-top: 1em;
    margin: 10px;
        border: #000000;
        border-width: .05px;
        border-style: solid;
}
table {
    /* border: #000000;
    border-width: .0005px;
    border-style: solid; */
    border-collapse: collapse; 
    /* padding: 6px 10px 6px 10px; */
    /*         top right bottom left */
    font-weight: 100;
}
th {
    background-color: #d2d2d2;
    width: 100px;
    padding:8px;
    font-weight: 100;
    border-bottom:.05px solid #000000;
}
td {
    width: 100px;
    padding: 8px;
}
table{
    width: 100%;
}
tr:nth-child(even) {
    background-color: #efefef;
}
#totalMonthly{
    text-align: end;
    padding: 10px;
}
#firstNameColumn{
    text-align: left;
}
#lastNameColumn{
    text-align: left;
}
#idColumn{
    text-align: left;
}
#titleColumn{
    text-align: left;
}
#annualSalaryColumn{
    text-align: right;
}
#deleteColumn{
    text-align: center;
}
#totalMonthlySalaryRed{
    background-color: red;
    color: white;
}

